@import "tailwindcss";

:root {
  --dark: #2B3940;
  --light: #526D7F;
  --primary: #63859C;
  --secondary: #455B68;
  --accent: #3F5C6E;
}

@theme inline {
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.tab-shape {
  clip-path: polygon(10% 100%, 100% 100%, 90% 0%, 0% 0%);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.topbar {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
